Options +FollowSymLinks
RewriteEngine On

RewriteCond %{HTTPS} !=on
RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

RewriteRule signup customurl/webfiles/views/auth/signup.php
RewriteRule login customurl/webfiles/views/auth/login.php

RewriteRule ^(\w+)$ ./customurl/url.php?customurl=$1
